.fileContainer {
    border: 2px solid #393737;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.viewer {
    gap: 1rem;
    justify-content: left;

}

.fileViewer {
    width: 18rem !important;
    text-align: left !important;
    border: none !important;
    padding-left: 1.9rem;
    height: fit-content;
    position: sticky;
    top: 0;
    margin-top: 0 !important;
}
.fileViewer h3{
        margin-top: 1rem;
}

.AllFile {
    margin-top: 0 !important;
    border: none !important;
    padding-left: 1rem;
    overflow: auto;
    max-height: 40rem;
    margin-top: 1rem !important;
}

.file {
    border: none !important;
}
#fileTitle{
    margin-bottom: 1rem;
}

.FileContent {
    background: #0d0f15 !important;
    width: 95% !important;
    padding: 1rem 1rem 1rem 2.5rem;
    margin: .5em 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

.FileContent code {
    color: #07b5d8 !important;
    background: none;
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
}

.Content {
    width: 76%;
    border-left: 2px solid #302e2e;
    padding-left: 1rem;
}

.repoName {
    font-size: 19px;
}
.repoLink{
    color: #0f78f1;
    text-decoration: none;
}
.repoLink:hover{
    text-decoration: underline;
}
.header {
    width: 99.8%;
    position: sticky;
    top: 0;
    z-index: 200;
    background: #111114;
}

.searchFiles {
    max-height: 30rem;
    overflow: auto;
    width: 28rem;
    background: black;
    padding: 1rem;
    border-radius: 15px;
    position: absolute;
    top: 7rem;
}
.contentHeader{
        display: flex
;
    align-items: center;
    /* background: red; */
    border: 2px solid #30363d;
    padding: 1rem;
    width: 96%;
    gap: 1rem;
    border-radius: 12px;
        margin-top: 1rem;

}
#profile{
    position: revert;
}
.contentEditSection{
  background: #111924;
    height: 3rem;
    display: flex
;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #56606c;
}
#editEffect button{
    width: 3rem;
    background: #2f3842;
    border: 2px solid #5b6a7e;
    border-radius: 6px;
    cursor: pointer;
}
#editEffect{
    margin-right: 2rem;
    position: relative;
}

#editEffect .editText{
        visibility: hidden;
background-color: #2f3739;
    position: absolute;
    /* top: 15.9rem; */
    margin-top: -2rem;
    right: 0rem;
    padding: 0.3rem 0.5rem;
    border-radius: 7px;
    font-size: 0.9rem;
    
    transform: translateY(6%);
    opacity: 0;
    transition: opacity 0.3s;
        width: 5rem;

}
#editEffect .editText p{
color: #fbfbfb;
}
#editEffect:hover .editText{
     visibility: visible;
    opacity: 1;
}
.saveEditbtn{
    display: flex;
    align-items: center;
}
.saveEditbtn button{
        width: 8rem !important;
    padding: 0.5rem 0;
}
#cancelChangeBtn{
        margin-right: 1rem;
}
.codes{
    font-size: 0.89rem !important;
}
.editableContent{
    /* padding: 1rem 1rem 1rem 3rem !important; */
    /* font-family: monospace;
    font-Size: 14;
    line-Height: 1.5;
    overflow-x: scroll !important;
    scrollbar-width: none;
        padding-left: 1rem; */



        background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
/* #codeArea{
       padding: 1.4rem 0.8rem 1rem 2.5rem !important;
           background: #0d0f15 !important;
    width: 95% !important;
    padding: 1rem 1rem 1rem 2.5rem;
    margin: .5em 0;
    overflow-y: scroll;
    scrollbar-width: none;
} */
#commitChanges-btn{
    background-color: green !important;
    border: none !important;
}
.newHeader{
    justify-content: space-between;
    align-items: center;
}
.newHeader button{
        margin-bottom: 1rem;
        background-color: transparent;
        border: none;
        display: none;
}
#toggleSidebarBtn{
    background-color: transparent;
        border: none;
        display: none;
}
.sidebarHeader{
  display: flex
;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}



.fileViewer{
    display: block !important;
}
#deleteFileBtn{
        background: #282b2f;
    display: flex
;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    border-radius: 8px;
    border: 2px solid #444446;
        margin-right: 1rem;
        cursor: pointer;
}
#deleteFileContainer{
    position: absolute;
    right: 2rem;
    margin-top: -1rem;
    padding: 0.8rem;
    width: 12rem;
    border-radius: 10px;
    background: black;
    border: 2px solid #2b2f34;
    box-shadow: 3px 4px 14px black;
    z-index: 1000;
    cursor: pointer;
}
#notEditableContainer{
    text-align: center;
}
#notEditableContainer p{
        margin-bottom: 1rem;
        color: white;
        font-size: 1.1rem;
}
#muiIconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1010px) {
    /* .pageResponsive{
        flex-direction: column-reverse;
    } */
    .Content {
       padding: 1rem 0;
        width: 97%;
        margin: auto;
        border: none;
    }
    .fileContainer {
    margin: auto; 
    margin-top: 1rem;

    }
    .fileViewer{
        display: none;
    }
    .newHeader button{
        display: block;
    }
    #toggleSidebarBtn{
        display: block;
    }
    .fileViewer.show {
        display: block !important;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: black;
    height: 100vh;
}
    .fileViewer.hide {
    display: none !important;
    
}
    .trMain {
        background-color: black;
                width: 94%;
    }
    .contentSidebarSearch{
        width: 88% !important;
    }
}
@media (max-width: 900px) {
    .FileContent {
        width: 85% !important;
    }
}
@media (max-width: 384px) {
    .FileContent {
        width: 80% !important;
    }
    .contentHeader {
        width: 85%;
        margin: auto;
        margin-top: 1rem;
    }
}
@media (max-width: 350px) {
     .FileContent {
        width: 70% !important;
    }
}
@media (max-width: 300px) {
    #NavProfile{
        display: none;
    }
    .repoName {
    font-size: 15px;
}
}