
.Fileheader {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    width: 97.7%;
    margin: 1.5rem auto 1rem auto;
}

.Fileheader .file-input {
    background-color: #161b22;
    border: 2px solid #4c525a;
    color: #e6edf3;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: monospace;
    width: 14rem;
    height: 1.5rem;
    margin: 0 !important;
}

.Fileheader .file-input:focus {
    outline: none;
    border: 2px solid #025fca;
}

.branch-label {
    background-color: #30363d;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
}

/* Tabs */
.tabs {
    display: flex;
    border: 2px solid #2c3035;
    margin-bottom: 0;
    padding-left: 1rem;
    background-color: #282b2f;
    width: 96.6%;
    margin: auto;
    border-radius: 5px 5px 0 0
}

.tab {
    padding: 8px 16px;
    background: none;
    border: none;
    color: #e6edf3;
    cursor: pointer;
}

.tab.active {
    background-color: #161b22;
    border-bottom: 2px solid #58a6ff;
}

/* Editor */
.editor {
    width: 95.5%;
    height: 100vh;
    background-color: #0d1117;
    color: #e6edf3;
    border: 2px solid #2c3035;
    border-radius: 0 0 6px 6px;
    padding: 1rem;
    font-family: monospace;
    font-size: 14px;
    resize: none;
    scrollbar-width: none;
}

/* Footer */
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 83%;
}

.cancel-btn {
    background-color: #30363d;
    color: #e6edf3;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #484f58;
}

.commit-btn {
    background-color: #17a532;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.commit-btn:hover {
    background-color: #2ea043;
}

.EditorContainer {
    width: 100%;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 17, 23, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal {
    background: black;
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 10px;
    width: 30rem;
    color: #e6edf3;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.modal h3 {
    margin-top: 0;
    margin-bottom: 12px;
}

.modal .commit-input {
    width: 96%;
    padding: 8px;
    background: #0d1117;
    border: 1px solid #30363d;
    border-radius: 4px;
    color: #e6edf3;
    margin-bottom: 10px;
}


.commit-textarea {
    width: 96%;
    height: 12rem;
    padding: 8px;
    background: #0d1117;
    border: 1px solid #30363d;
    border-radius: 4px;
    color: #e6edf3;
    margin-bottom: 12px;
}

.commit-options {
    margin-bottom: 16px;
    font-size: 14px;
}

.commit-options label {
    display: block;
    margin-bottom: 6px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.modal label {
    text-align: left;
    color: #fff;
    margin: 1rem;
}

.commit-btn:disabled {
    background-color: #3aa43a;
    cursor: not-allowed;
    opacity: 0.7;
}
.errorMessage {
    background: #3d1515;
    border: 2px solid red;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    text-align: left;
    border-radius: 12px;
}
.preview{
    width: 95.5%;
    margin: auto;
    text-align: left;
    padding: 1rem;
    border: 2px solid #2c3035;
    border-radius: 0 0 6px 6px;
    font-family: monospace;
    font-size: 14px;
    resize: none;
    scrollbar-width: none;
}
#commitChangesInput::placeholder{
    color: rgb(235, 232, 232);
}

@media (max-width: 730px) {
    .EditorContainer {
    width: 95%;
    text-align: center;
    margin: auto;
}
.editor {
    width: 94.5%;
     margin: auto;
}
   
}
@media (max-width: 600px) {
        .EditorContainer {
        width: 88%;
        }
}
@media (max-width: 500px) {
    .createFileHeader{
        flex-direction: column;
    width: 100%;
    /* justify-content: left; */
    align-items: baseline;
    }
    .actions{
        width: 18.1rem;
    }
            .editor {
        width: 92.5%;
            }
}
@media (max-width: 400px) {
        .EditorContainer {
        width: 18rem;
    }
     .actions{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}