#Dashboard {
  display: flex;
  justify-content: flex-start;
  color: #e6edf3;
  background-color: #0d1117;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  gap: 3rem;
}

main {
  background-color: #161b22;
  border-right: 1px solid #30363d;

}

.yourRepo {
  width: 20rem;
  padding: 1rem;
  height: fit-content;
  position: sticky;
  top: 1rem;
  align-self: flex-start;
}


.dasborardMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  width: 93%;
}

.dasboardCreateRepobtn {
  width: 4rem !important;
  font-size: 14px !important;
}

#search input {
  width: 88%;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  border: 1px solid #69727d;
  background-color: #202732;
  color: #c9d1d9;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
}

#search input:focus {
  outline: none;
  border: 1px solid #025fca;
}

.repositories {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.1rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.repositories:hover {
  background-color: #21262d;
}

.repositories h4 {
  word-break: break-word;
  font-size: 0.9rem;
  color: #dbe6f2;
  font-weight: 500;
}

.repositories h4:hover {
  text-decoration: underline;
}

.repositories a {
  text-decoration: none;
  color: inherit;
}

#dasboardProfile {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

#asides {
  display: flex;
  gap: 3rem;
  flex: 1;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

#asides #suggestedRepo {
  background-color: #161b22;
  border-radius: 0.5rem;
  border: 1px solid #30363d;
  width: 100%;
  padding-top: 1rem;
}

#asides aside div h4 {
  word-break: break-all;
  color: #dbe6f2;
}

#aside1 {
  width: 68%;
}

#aside1 input {
    width: 97.5%;
    border-radius: 10px;
    height: 1.8rem;
    background: #1c222a;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 2px solid #3e444a;
}

#aside1 input:focus {
  outline: none;
  border: 2px solid #025fca;
}

#asides h3 {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: #c9d1d9;
  margin-left: 1rem;
}

#asides ul {
  list-style: none;
  padding: 0;
}

#asides li {
  margin-bottom: 0.4rem;
}

#asides p {
  margin: 0;
  font-size: 0.9rem;
  color: #8b949e;
}

#suggestedRepo .repoAll {
  display: flex;
  gap: 0.5rem;
  font-size: 14px;
}

#repositoryLists {
  padding: 1rem;
  border-bottom: 2px solid #333a44;
}

#repositoryLists .repoDes {
  margin-top: 0.5rem;
  color: #dbe6f2;
}

#repositoryLists .repoAll a {
  text-decoration: none;
}

#repositoryLists .repoAll a h4:hover {

  text-decoration: underline;
  color: rgb(0, 174, 255);
}

@media (max-width: 810px){
  .events{
    display: none;
  }
  #aside1{
    width: 92%;
  }
  #asides #suggestedRepo{
        width: 103%;
  }
  main {
    width: 34%;
  }
  .yourRepo {
    width: 93%;
  }
}
@media (max-width: 776px){
  #Dashboard{
    flex-direction: column-reverse;
    align-items: center;
  }
  main {
    width: 100%;
  }
  #asides{
    width: 100%;
    /* align-items: center; */
    /* margin: auto; */
    justify-content: center;
    margin-bottom: 0;
  }
  #asides #suggestedRepo{
        width: 100%;
  }
}
@media (max-width: 405px) {
      main {
            width: 91%;
    margin: auto;
    border: 2px;
    border: 2px solid #233b5a;
    border-radius: 10px;
      }
          #asides #suggestedRepo {
                width: 99%;

    border: 2px solid #37475d;
          }
          #Dashboard {
            min-height: 0;
          }
          #aside1 input {
                width: 93%;
          }
          
}