.sidebar {
    position: absolute;
    right: -22rem;
    /* height: 80%; */
    width: 15rem;
    background-color: #000000;
    /* transition: right 0.3s ease; */
    z-index: 1001;
    padding: 20px;
    border-radius: 1rem;
    border: none;
    border: 2px solid #2f3235;
}
.sidebar.close {
  display: none;
}
.sidebar.open {
  right: 1rem;
}

.sidebar-content {
  margin-top: 20px;
}
/* .sidebar-content ul a li{
  list-style: none;
    display: flex
;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.sidebar-content ul li{
  list-style: none;
    display: flex
;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
} */
.sidebar-content li{
    list-style: none;
    display: flex
;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
}
.sidebar-content li:hover {
      background-color: #1b1e21;
    border-radius: 10px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.backdrop.visible {
  opacity: 1;
  visibility: visible;
}
.profileMenu{
      margin-top: 0.5rem;
      cursor: pointer;
}
.profileDivider{
      border: none;
    height: 1px;
    background-color: #3b3d3e;
}
#userName{
    display: flex
;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}
#profileSettingHeader{
display: flex
;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 0;
}
#profileSettingContainer{
  /* border: 2px solid gray; */
  width: 57%;
  margin: auto;
  padding-bottom: 4rem;
}
.settingsContent{
  border-top: 1px solid #484f58;
    padding-top: 1rem;
}
.settingsContent p{
    margin-bottom: 0.5rem !important;
    color: white;
    font-weight: 600;
}
.settingsContent textarea{
  margin-bottom: 1rem !important;
}
.settingsUpdateInput{
          width: 20rem !important;
    padding: 0.4rem !important;
    border: 1px solid #474b4f !important;
    margin-bottom: 1rem !important;
    background: #10141a !important;
}
#usernameTag{
  font-size: 1.3rem;
}
#profileUpdateBtn{
      padding: 0.5rem 1rem;
    font-size: 0.9rem;
    background-color: #258b25;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}
#deleteAwarness{
      margin-top: 1rem;
    margin-bottom: 1rem;
}
#deleteHeader{
  margin-top: 3rem;
    color: #ff5b5b;
}
.profileCompanyedit{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
#profileBioEdit{
  width: 90% !important;
    border: 1px solid #424548 !important;
    margin-top: 0.5rem !important;
    
}
.profileCompanyedit input{
      padding: 0.4rem !important;
    margin-top: 0 !important;
    width: 83% !important;
    border: 1px solid #40464e !important;

}
.userBio{
    text-align: left;
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
    word-break: break-word;
}
.userBio p{
      color: #d8dce0 !important;
}
.userCompany{
      width: 94% !important;
    margin: auto;
    margin-top: 1rem;
}

@media (max-width: 500px) {
  #profileSettingContainer {
    width: 96%;
  }
  .settingsContent textarea {
    width: 95.6%;
  }
}

@media (max-width: 400px) {
  #profileSettingContainer {
        width: 91%;
    margin: auto;
  }
      .settingsContent textarea {
        width: 94.5%;
      }
      .settingsUpdateInput {
        width: 95% !important;
      }
}
@media (max-width: 335px) {
  #profileSettingHeader {
        margin-top: 5rem;
  }
}