.repoNameEditSection {
    display: flex;
    gap: 0.4rem;
    margin-top: 1rem;
}

.settingsContainer {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

.editSection {
    margin-top: 1rem;
    border-top: 2px solid #3c434c;
}

.editSection p {
    margin-top: 2rem;
    color: white;
}

.renameRepoBtn {
    background: #1f2327 !important;
    border: 2px solid #3f4752 !important;
    width: 6rem !important;
    font-weight: 600 !important;
    color: #e9e9e9 !important;
    padding: 0rem !important;
    font-size: 0.9rem !important;
    text-transform: capitalize !important;
    border-radius: 6px;
    cursor: pointer;
}

.repoRenameInput {
    width: 30% !important;
    border: 1px solid #48505b !important;
    padding: 0.5rem !important;
    background: #242a32 !important;
}

#repoDescriptionEdit:focus,
.repoRenameInput:focus {
    border: 1px solid #006dff !important;
    outline: none;
}

#repoDescriptionEdit {
    margin-top: 1rem;
    border: 2px solid #3c434c !important;
}

.editdesBtn {
    background: green !important;
    width: 10rem !important;
    margin-top: 1rem !important;
    padding: 0.3rem 0 !important;
    text-transform: none !important;
}

.cancelEditDesBtn {
    margin-top: 1rem !important;
    background: #20252a !important;
    text-transform: none !important;
    color: white !important;
    border: 2px solid #33445a !important;
    width: 6rem !important;
    margin-left: 1rem !important;
}

.renameRepoBtn:disabled {
    cursor: not-allowed !important;
}

#dengerZoneContainer {
    border: 2px solid #742724;
    position: relative;
}

.dengerZoneBtn {
    padding: 0.5rem;
    font-weight: 600;
    color: #f34c4c;
    background-color: #242c35;
    border: 1px solid #445b79;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease;
}

.dengerZoneBtn:hover {
    background-color: #cc0d0d;
    transform: scale(1.03);
    color: white;
}

.dengerZoneSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.dengerZoneSection p {
    margin-top: 0 !important;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

#dengerZoneSeperater {
    border: none;
    height: 2px;
    background: #494242;
}

#dangerZoneHeading {
    margin-top: 4rem;
}

.visibilityBox {
    margin: 12px 0;
    padding: 1rem 2rem;
    border: 1px solid #5b6674;
    background-color: black;
    border-radius: 17px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    /* top: 44rem; */
    margin-top: -1rem;
    right: 1rem;
    box-shadow: 2px 3px 4px black;
}

@media (max-width: 774px) {
    .settingsContainer {
    width: 93%;
    }
}
@media (max-width: 400px) {
    .dengerZoneSection {
            flex-direction: column;
    align-items: baseline;
    }
    .dengerZoneBtn {
            margin-top: 1rem;
    }
    #repoDescriptionEdit {
        width: 20.8rem;
    }
    .repoRenameInput {
        width: 64% !important;
    }
}