.Allrepo{
        border-bottom: 2px solid #30363d;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.Allrepo b{
    color: #056ee6;
    font-size: 1.2rem;
}
.AllrepoContainer{
    border-top: 2px solid #30363d;
    margin-bottom: 10rem;
}
.newRepoCreateBtn{
        background-color: green;
    padding: 0.5rem;
    width: 5.5rem;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    display: flex
;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    color: white;
}
.newRepoCreateBtn:hover{
    cursor: pointer;
    background-color: rgb(3, 141, 3);
}
#createNewRepo{
    text-decoration: none;
}
.newRepoCreateBtn.octicon{
    color: white;
}
#SearchRepoitories{
 margin-bottom: 0 !important;
    width: 30rem;
    padding: 0.5rem;
    border: 2px solid #404851;

}
#SearchRepoitories:focus {
    outline: none;
    border: 2px solid #0771ea;
}
#repoViewerHeader{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
        justify-content: space-between;
}
.selectType{
     padding: 0.4rem;
    width: 5.5rem;
    font-size: 15px;
    background: #252c35;
        border: 2px solid #495564;
     border-radius: 9px;

}

.starBtn button{
       background: black;
    display: flex
;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 14px;
    background-color: #26303a;
    border-radius: 10px;
    border: 2px solid #354c67;
}
.starBtn button:hover {
    cursor: pointer;
}

.starBtn #starIcon{
    fill: gold;
    font-size: 1.2rem;
}

.starBtn #starBorderIcon{
    font-size: 1.2rem;
}
#noOfRepoStar{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
#noOfRepoStar .starBorder{
        font-size: 1.3rem;
    fill: gray;
}
#noOfRepoStar span{
    color: gray;
}
.SearchRepoSpan{
    display: flex;
    align-items: center;
    /* width: 50%; */
    gap: 1rem;
}

@media (max-width: 890px) {
    .viewRepoResponsive{
        flex-direction: column;
}
.viewRepoProfileSection{
        padding: 1rem;
    width: 94% !important;
}
}
@media (max-width: 400px) {
    .viewRepoSearchInput{
                width: 95% !important;
    padding: 0.3rem !important;
    }
    .viewRepoProfileSection{
                width: 95% !important;
    padding: 0.5rem;
    }
    .newRepoCreateBtn{
       width: 100% !important;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    background-color: #0f9c0f;
    }
    #repoPath b{
            font-size: 1rem;
    }
    .starBtn{
            display: flex
;
    align-items: center;
    height: 2rem;
    justify-content: center;
    }
    .starBtn button{
            padding: 0.4rem 0.9rem !important;
    }
    .viewFlex{
            flex-direction: column-reverse !important;
            align-items: normal !important;
    }
}
